<div> requests from users: </div>
{% if requests %}
<form method="POST">
{% for request in requests %}
<input type="checkbox" name="request" value="{{request._id}}">Due in {{request.time_left_hours}}:{{request.time_left_minutes}} / {{request.email}} -> <a href={{request.src_url}}>Image URL</a>, <a href={{request.page_url}}>Page URL</a>, <a href={{request.link_url}}>Link URL</a>, Priorities: {{request.priority_list}}  <br>
{% endfor %}
<input type="submit">
</form>
{% else %}
<div>no requests right now</div>
{% endif %}